/*#gif-appear {
	float: left; 
}*/

/*.outer {
	width: 80%;
}*/

.left {
	float: left;
	margin: 5px; 
}

/*body {
	width: 95%;
}*/

.outer {
	margin: 10px;
	margin-left: 20px;
}

.gifShow {
	margin: 5px;
}

body {
	background-image: url(images/black.jpg);
	color: white;
}